# Virtual Environment
venv/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database & Scraped Companies data
chroma_db/
companies/

# Next.js Build & Dependencies
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.production
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
